{% extends "base.html" %} {% block content %}
<div
  class="d-flex justify-content-center align-items-center"
  style="min-height: 80vh"
>
  <div class="card shadow-lg border-0" style="max-width: 400px; width: 100%">
    <div class="card-header text-center fw-semibold bg-dark text-light">
      Entrar no FastMatch
    </div>
    <div class="card-body p-4">
      {% if form.errors %}
      <div class="alert alert-danger text-center">
        Usuário ou senha incorretos.
      </div>
      {% endif %}
      <form method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Usuário</label>
          <input type="text" name="username" class="form-control" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input
            type="password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn btn-accent w-100">Entrar</button>
      </form>
      <div class="text-center mt-3 small">
        <a
          href="{% url 'password_reset' %}"
          class="text-decoration-none text-muted"
          >Esqueci minha senha</a
        ><br />
        <a href="{% url 'signup' %}" class="text-decoration-none text-light"
          >Criar conta</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
